* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    border: 1px solid;
    height: 960px;
    width: 960px;
}

.size-button {
    width: 150px;
    margin: 8px;
    padding: 2px;
    font-size: large;
}

.row {
    display: flex;
}

.box {
    box-sizing: border-box;
    border: 1px solid;
    width: calc(960px / var(--grid-size));
    height: calc(960px / var(--grid-size));
}